body {
  text-align: center;
  vertical-align: middle;
  background-color: #2c3e50;
  text-decoration-color: 
  
}

.btn {
  cursor: pointer;
}
body {
  font-size:xx-large;
  color:grey;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-family: sans-serif;
}
.clicked {
  color: #7f8c8d;
}
.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}